<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayzhao.customactionbar">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/xueyou"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".JayActivity"/>
        <activity android:name=".MyWebActivity"/>
        <activity android:name=".RecyclerViewActivity"/>
        <activity android:name=".MyTableLayout"/>
        <activity android:name=".ChangeAnimation"/>
        <activity android:name=".NextActivity"/>
        <activity android:name=".AnimationTest"/>
        <activity android:name=".SildeActivity"/>
        <activity android:name=".RefreshActivity"/>
        <activity android:name=".BezierActivity"/>
        <activity android:name=".ExamActivity"/>
        <activity android:name=".TestViewActivity"/>
    </application>

</manifest>
